<p>Lo mejor y más nuevo</p>
<div class="slider-container">
    <button class="prev" onclick="scrollSlider(-1)">&#10094;</button>
    <div class="slider">
        <div class="slide">
            <img src="futbolistas.png" alt="Colección Nike 24.7">
            <p>Colección Nike 24.7</p>
        </div>
        <div class="slide">
            <img src="pareja.png" alt="Cosmic Runner">
            <p>Cosmic Runner</p>
        </div>
        <div class="slide">
            <img src="niña.png" alt="Próximamente: Air Max Dn8">
            <p>Próximamente: Air Max Dn8</p>
        </div>
        <div class="slide">
            <img src="airmax.png" alt="Próximamente: Air Max Dn8">
            <p>Próximamente: Air Max Dn8</p>
        </div>
        <div class="slide">
            <img src="mujer.jpg" alt="Próximamente: Air Max Dn8">
            <p>Próximamente: Air Max Dn8</p>
        </div>
    </div>
    <button class="next" onclick="scrollSlider(1)">&#10095;</button>
</div>
