
        <div class="footer-container">
            <div class="footer-section">
                <h4>Productos</h4>
                <ul>
                    <li><a href="#">Zapatillas</a></li>
                    <li><a href="#">Ropa</a></li>
                    <li><a href="#">Accesorios</a></li>
                    <li><a href="#">Novedades</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Centro de ayuda</a></li>
                    <li><a href="#">Envíos</a></li>
                    <li><a href="#">Devoluciones</a></li>
                    <li><a href="#">Opciones de pago</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Compañía</h4>
                <ul>
                    <li><a href="#">Acerca de Nike</a></li>
                    <li><a href="#">Sostenibilidad</a></li>
                    <li><a href="#">Trabaja con nosotros</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <h4>Síguenos</h4>
                <div class="social-icons">
                    <a href="#"><img src="" alt="Facebook"></a>
                    <a href="#"><img src="" alt="Twitter"></a>
                    <a href="#"><img src="" alt="Instagram"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Nike, Inc. Todos los derechos reservados.</p>
        </div>
    