<p>componente3 works!</p>
<div class="slider-container">
    <h2>Compra nuestros iconos</h2>
    <div class="slider-wrapper">
        <button class="prev" onclick="scrollSlider(-1)">&#10094;</button>
        <div class="slider">
            <div class="slide">
                <img src="rojo-airmax.png" alt="Air Max">
            </div>
            <div class="slide">
                <img src="Y2K.png" alt="Y2K">
            </div>
            <div class="slide">
                <img src="airforce1.png" alt="Air Force 1">
            </div>
            <div class="slide">
                <img src="dunk.png" alt="Air Force 1">
            </div>
        </div>
        <button class="next" onclick="scrollSlider(1)">&#10095;</button>
    </div>
</div>
